[bumpversion]
current_version = 0.1.10
commit = True
tag = True

[bumpversion:file:package/setup.py]

[bumpversion:file:towncrier.toml]

[bumpversion:file:package/NeteaseCloudMusic/__init__.py]
